

body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  max-width: 1440px;
  background-color:  hsl(217, 54%, 11%);
}
code {
 
}
@media (min-width:320px) and (max-width: 767px){
  body{
    max-width: 375px;
    margin:0 auto;
  }
}